<!DOCTYPE html>
<html lang="en">

<head>
    <title>留言板</title>
    {{ include "layouts/head.html" .}}
</head>

<body>
    {{ include "layouts/navbar.html" .}}

    <div class="container">
        <div class="card">
            <div class="card-header">留言板</div>
            <div class="card-body">

                <form method="post" action="/message">
                    <div class="input-group mb-3">
                        <input type="text" name="content" class="form-control" placeholder="说点什么……"
                            aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">提 交</button>
                    </div>
                </form>

                <hr>

                {{ range $item := .messages }}
                <div class="d-flex position-relative">
                    <img class="flex-shrink-0 me-3 rounded-circle" src="http://api.rosysun.cn/sjtx/?type=2&v={{ $item.User.Id }}" width="96" height="96">
                    <div>
                        <h5 class="media-heading">{{ $item.User.Username }}</h5>
                        <p>{{ $item.Content }}</p>
                        <small class="text-muted">发布于：{{ $item.CreatedAt | personDate }}</small>
                    </div>
                </div>
                <hr>
                {{ end }}

                <div class="text-center">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

    {{ include "layouts/footer.html" .}}
</body>

</html>