<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户中心</title>
    {{ include "layouts/head.html" .}}
</head>

<body>
    {{ include "layouts/navbar.html" .}}

    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                {{ include "u/sections/menu.html" .}}
            </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">用户中心</div>
                    <div class="card-body">
                        尊敬的张三，欢迎来到用户中心~
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include "layouts/footer.html" .}}
</body>

</html>