<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ if eq .j.Status 1 }}成功提示{{ else }}错误提示{{ end }}</title>
    {{ include "layouts/head.html" .}}
</head>

<body>
    {{ include "layouts/navbar.html" .}}

    <div class="container">
        <div class="card">
            <div class="card-header">{{ if eq .j.Status 1 }}成功提示{{ else }}错误提示{{ end }}</div>
            <div class="card-body">
                <div class="alert {{ if eq .j.Status 1 }}alert-success{{ else }}alert-danger{{ end }}" role="alert">
                    {{ .j.Message }}
                </div>

                <p class="jump">
                    页面自动 <a id="href" href="{{ .j.Url }}">跳转</a> 等待时间： <b id="wait">
                        {{ .j.Wait }}
                    </b>
                </p>
            </div>
        </div>

    </div>

    {{ include "layouts/footer.html" .}}
</body>

</html>
<script type="text/javascript">
    (function () {
        var wait = document.getElementById('wait'), href = document.getElementById('href').href;
        var interval = setInterval(function () {
            var time = --wait.innerHTML;
            if (time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>